* {
    margin: 0;
    padding: 0;
}


header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-top: -5rem;
    border-bottom: 1px solid black;
    background-color: #FCFAF5;
    z-index: 5;
}

.logo {
    display: inline-block;
    font-family: Pacifico;
    font-size: 1.5rem;
    padding: 1rem;
    color: #361E00;
}

.navbar li {
    display: inline;
    list-style: none;
    font-family: Cabin;
    font-size: 1.1rem;
    padding: 1rem;
}

.navbar li a {
    text-decoration: none;
    color: #361E00;
}

.navbar li a:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
}

@media only screen and (max-width: 985px){
    .navbar li {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 640px){
    
    header {
        height: 5rem;
        z-index: 5;
        border: none;
    }

    .logo {
        text-align: center;
        font-size: 1rem;
        width: 100%;
    }

    .navbar li {
        display: none;
        
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Flex-Coffee/assets/mike-kenneally-tNALoIZhqVM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35rem;
    margin: 5rem 0 0 0;
}

.bannerText {
    font-size: 1.7rem;
    font-family: Cabin;
    color: #FCFAF5;
    width: 30%;
    position: relative;
    top: -10%; 
    right: -20%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 5px;
}

@media only screen and (max-width: 985px){
    .bannerText {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 640px){
    .bannerText {
        font-size: 1rem;
        right: -25%;
    }

    .banner {
        height: 22rem;
        z-index: 1;
    }
}

.roasts {
    margin: 3rem 0 1rem 0;
    padding: 0 0 1rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.5rem;
    font-size: 1.5rem;
    font-family: Cabin;
    color: #361E00;
}

@media only screen and (max-width: 640px){
    .roasts {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 0;
    }
}

.dark-roast {
    display:flex;
    height: 30rem;
    width: 100%;
    background-color: #2B1800;
}   

.dark-roast div {
    width: 100%;
    height: 30rem;
}
.dark-roast div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-roast-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Cabin;
    color: #FCFAF5;
}

.dark-roast-text p {
    font-size: 1.3rem;
    line-height: 2;;
    width: 80%;
}

.dark-roast-text h2 {
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

.medium-roast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.medium-roast div {
    width: 100%;
    height: 30rem;
}

.medium-roast div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.medium-roast-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Cabin;
    color: #FCFAF5;
    background-color:#592A01;
}

.medium-roast-text p {
    font-size: 1.3rem;
    line-height: 2;;
    width: 80%;
}

.medium-roast-text h2 {
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

.light-roast {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.light-roast div {
    width: 100%;
    height: 30rem;
}

.light-roast div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.light-roast-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: Cabin;
    color: #FCFAF5;
    background-color:#874800;
}

.light-roast-text p {
    font-size: 1.3rem;
    line-height: 2;;
    width: 80%;
}

.light-roast-text h2 {
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

@media only screen and (max-width: 985px) {
    .dark-roast-text p {
        font-size: 1.1rem;
        line-height: 2;;
        width: 80%;
    }
    
    .dark-roast-text h2 {
        font-size: 1.75rem;
    }

    .medium-roast-text p {
        font-size: 1.1rem;
        line-height: 2;;
        width: 80%;
    }
    
    .medium-roast-text h2 {
        font-size: 1.75rem;
    }
    
    .light-roast-text p {
        font-size: 1.1rem;
        line-height: 2;;
        width: 80%;
    }
    
    .light-roast-text h2 {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 640px) {
    .dark-roast {
            display:flex;
            height: 20rem;
            width: 100%;
            background-color: #2B1800;
        }   
        
        .dark-roast div {
            width: 100%;
            height: 20rem;
        }
        .dark-roast div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    .dark-roast h2 {
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }

    .dark-roast p {
        font-size: 0.9rem;
        line-height: 1.5;
        width: 80%;
    }

    .medium-roast {
        display:flex;
        height: 20rem;
        width: 100%;
        background-color: #2B1800;
    }   
    
    .medium-roast div {
        width: 100%;
        height: 20rem;
    }
    .medium-roast div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.medium-roast h2 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.medium-roast p {
    font-size: 0.9rem;
    line-height: 1.5;
    width: 80%;
}
.light-roast {
    display:flex;
    height: 20rem;
    width: 100%;
}   

.light-roast div {
    width: 100%;
    height: 20rem;
}
.light-roast div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.light-roast h2 {
font-size: 1.25rem;
padding-bottom: 1rem;
}

.light-roast p {
font-size: 0.9rem;
line-height: 1.5;
width: 80%;
}

}

.trade-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trade-section h2{
    text-align: center;
    font-family: Cabin;
    font-size: 1.3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.5rem;
    padding: 2rem 0 1rem 0;
    color: #361E00;
}

.trade-section p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Cabin;
    font-size: 1.1rem;
    line-height: 2;
    width: 60%;
    padding: 1rem 0 3rem 0;
    color: #361E00;
}

@media only screen and (max-width: 640px){
    .trade-section h2 {
        padding: 1rem 0 0.5rem 0;
        width: 80%;
        font-size: 1.1rem;
        text-decoration: none;
        border: 1.5px solid black;
        border-radius: 5px;
    }

    .trade-section p {
        width: 60%;
        font-size: 1rem;
    }
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    height: 35rem;
    background-color: #F5F3EE;
}

.square {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.square img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
}

.square-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 18rem;
    height: 10rem;
    font-size: 1.3rem;
    font-family: Cabin;
    line-height: 1.2;
    margin: 1rem 0;
    padding: 1rem;
    border: 1.3px solid black;
    border-radius: 5px;
    background-color: white;
}

@media only screen and (max-width: 985px) {
    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 105rem;
    }

    .square-text {
        font-size: 1.3rem;
    }
    
}

@media only screen and (max-width: 640px) {
    .img-container {
        height: 90rem;
    }

    .square-text {
        font-size: 1rem;
        padding: 1rem;
        width: 18rem;
        height: 5rem;
    }
    
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.locations h2 {
    padding: 1rem 0 1rem 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.5rem;
    font-size: 1.5rem;
    font-family: Cabin;
    color: #361E00;
}

.locations p {
    padding: 0 0 1rem 0;
    font-size: 1.1rem;
    font-family: Cabin;
    color: #361E00;
}

.locations-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../Flex-Coffee/assets/blake-verdoorn-gM-RfQsZK98-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 25rem;
    
}

.locations-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13rem;
    width: 13rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    color: #FCFAF5;
}

.locations-square p {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: Cabin;
    line-height: 1.5;
}

@media only screen and (max-width: 640px) {
    .locations h2{
        font-size: 1.2rem;
    }
    
    .locations p {
        font-size: 1rem;
    }

    .locations-container {
        flex-direction: column;
        height: 30rem;
    }

    .locations-square {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

footer div{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

footer div ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
footer div ul li {
    list-style: none;
    margin: 0 10%;
}

footer div ul li a{
    text-decoration: none;
    text-align: center;
    list-style: none;
    width: 20%;
    color: #361E00;
    font-family: Cabin;
}

footer div ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

@media only screen and (max-width: 985px){
    
}

@media only screen and (max-width: 640px){
    footer div{
        height: 4rem;
    }
    
    footer div ul li {
        text-align: center;
        font-size: 1rem;
    }
}
